<!Doctype html>
<head>
	<title>onecase-interface platform</title>
	<meta charset="utf-8">
	
</head>
<body>
<div id="wrapper">
	<!-- 导航标签nav-->
	<nav>
		<div class="brand">
			<a href="index.html"><img src="/static/img/logo.png" alt="onecase logo" class="img logo"></a>

		</div>
	</nav>

	<div id="sidebar-div" class="sidebar">
		<div class="sidebar=scroll">
			<nav>
				<ul class="nav">
					<li>
						<a href="#baseinfo"><span>基础信息</span></a>
						<div id="baseinfo">
							<ul class="nav">
								<li><a href="/onecase/project/">项目管理</a></li>
								<li><a href="/onecase/env/">测试环境管理</a></li>
								<li><a href="/onecase/interface/">接口管理</a></li>
								<li><a href="/onecase/case/">用例管理</a></li>
								<li><a href="/onecase/plan/">测试计划管理</a></li>
							</ul>
						</div>
					</li>

					<li>
						<a href="#system"><span>系统设置</span></a>
						<div id="system">
							<ul class="nav">
								<li><a href="/onecase/sign/">签名方式</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


</body>
</html>